.nav {
	font-family: 'Nasim', tahoma, Arial;
}

.jumbotron {
	font-family: 'Nasim', tahoma, Arial;
	height:	200px;
}

.jumbo-image {
	width: 100%;
	height: 200px;
	position: relative;
	bottom: 48px;
	background-image: url('head1.jpg');
}

.jumbo-image h1 {
	position: relative;
	right: 30px;
}

.jumbo-image p {
	position: relative;
	right: 30px;
}

.intro {
	font-family: 'Nasim', tahoma, Arial;
	font-size: 24px;
}

.sections{
	font-family: 'Nasim', tahoma, Arial;
	font-size: 18px;
}